body {
	background-color: #00cdcf;
}
.bg-theme {
	background-color: #00cdcf;
}

.file-row {
	background-color: #777;
	padding: 5px;
	text-align: center;
	margin: 3px;
	color: white;
}

.fill-div {
	display: block;
	height: 100%;
	width: 100%;
}

#graph1 {
	display:block;
	width: 100%;
}
