<!DOCTYPE html>
<html>
	{% load staticfiles %}
	<head>
		<meta charset="UTF-8">
		<title>Cycle X-Pro</title>

		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!--link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
		<!--link rel="stylesheet" href="{% static 'cxp_v1/css/dataplot.css' %}"-->

		<link rel="stylesheet" type="text/css" href="{% static 'cxp_v1/css/keen-dashboards.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'cxp_v1/css/dataplot.css' %}">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
		<script type="text/javascript" src="{% static 'cxp_v1/js/dataplot.js' %}"></script>
		<script type="text/javascript" src="{% static 'cxp_v1/js/downloadFiles.js' %}"></script>
		
	</head>

	<body class="application">
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="../">
						<span class="glyphicon glyhpicon-chevron-left"></span>
					</a>
					<a class="navbar-brand" href="./"> X Dash </a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class=" nav navbar-nav navbar-left">
						<li><a href="/download/cxp.apk">Download</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu 1
								<span class="caret">
								</span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Sub 1</a></li>
								<li><a href="#">Sub 2</a></li>
							</ul>
						</li>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Past Sessions
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{% for file in filelist %}
									<li>
									<a href="#speedTab" onclick="callGetChart('{{file}}', 'speed')">{{file}}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
					</ul>
			</div>
		</div>
		<!-- End of Navbar -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="chart-wrapper">
						<div  class="chart-title">
							<a id="plot-title" href="#">
								No Plot Selected
							</a>
						</div>
						<div class="chart-stage">
							<div class="row">
								<div class="col-xs-3">
									<div class="tabbable tabs-left">
										<ul class="nav nav-tabs">
											<!--TODO: Chnage updateChartargs to actual metric labels -->
											<li class="active"><a href="#speedTab" onclick="updateChart('speed')" data-toggle="tab">Speed</a></li>
											<li><a href="#distanceTab" onclick="updateChart('distance')" data-toggle="tab">Distance</a></li>
											<li><a href="#caloriesTab" onclick="updateChart('calories')" data-toggle="tab">Calories</a></li>
										</ul>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="tab-content">
										<div class="tab-pane active" id="speedTab">
											<canvas id="speedChart"></canvas>
										</div>
										<div class="tab-pane" id ="distanceTab">
											<canvas id="distanceChart"></canvas>
										</div>
										<div class="tab-pane" id="caloriesTab">
											<canvas id="caloriesChart"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--div>
					<canvas id="myChart"></canvas>
				</div-->
			</div>
		</div>
		<script type="text/javascript">
			function updateChart(arg1){
				var arg0 = $("#plot-title").text();
				if(arg0 != "No Plot Selected"){
					getChart(arg0, arg1);
				}

				
			};
		</script>
		<script type="text/javascript">
			function callGetChart(arg0, arg1) {
				$("#plot-title").text(arg0);
				$("#plot-title").attr("href", '/download/'.concat(arg0));
				$("#plot-title").attr("download", "download.csv");
				getChart(arg0, arg1);
			};
		</script>

	</body>
</html>

