<!DOCTYPE html>
<html>
	{% load staticfiles %}
	<head>
		<meta charset="UTF-8">
		<title>Cycle X-Pro</title>

		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!--link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
		<!--link rel="stylesheet" href="{% static 'cxp_v1/css/dataplot.css' %}"-->

		<link rel="stylesheet" type="text/css" href="{% static 'cxp_v1/css/keen-dashboards.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'cxp_v1/css/dataplot.css' %}">

		<script src="{% static 'cxp_v1/js/Chart.min.js' %}"></script>		
		<script type="text/javascript" src="{% static 'cxp_v1/js/dataplot.js' %}"></script>
		<script type="text/javascript" src="{% static 'cxp_v1/js/downloadFiles.js' %}"></script>
		
	</head>

	<body class="application">
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="../">
						<span class="glyphicon glyhpicon-chevron-left"></span>
					</a>
					<a class="navbar-brand" href="./"> X Dash </a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class=" nav navbar-nav navbar-left">
						<li><a href="javascript:callDownloadAPK()">Download</a></li>
						<!--li><a href="{{ download.get_absolute_url }}">Download</a></li-->
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu 1
								<span class="caret">
								</span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Sub 1</a></li>
								<li><a href="#">Sub 2</a></li>
							</ul>
						</li>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Past Sessions
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{% for file in filelist %}
									<!--li onclick="makeplot('{{file}}', 0, 'met2')"-->
									<!--li onclick="makechart('{{file}}', 'met2')"-->
									<li>
									<a href="javascript:callGetChart('{{file}}', 'met2')">{{file}}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
					</ul>
			</div>
		</div>
		<!-- End of Navbar -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="chart-wrapper">
						<div class="chart-title">
							Sample Plot
						</div>
						<div class="chart-stage">
							<div class="row">
								<div class="col-xs-3">
									<div class="tabbable tabs-left">
										<ul class="nav nav-tabs">
											<li class="active"><a href="#visitors" data-toggle="tab">Visitors</a></li>
											<li><a href="browser" data-toggle="tab">Browser</a></li>
										</ul>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="tab-content">
										<div class="tab-pane active" id="visitors">
											<canvas id="myChart"></canvas>
										</div>
										<div class="tab-pane" id = "browser"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--div>
					<canvas id="myChart"></canvas>
				</div-->
			</div>
		</div>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
		<script type="text/javascript" src="{% static 'cxp_v1/js/Chart.min.js' %}"></script>
		<script type="text/javascript">
			function callGetChart(arg0, arg1) {
				getChart(arg0, arg1);
			};
		</script>

		<script type="text/javascript">
			function callDownloadAPK(){
				downloadAPK();
			};
		</script>
	</body>
</html>

